<ion-header>
  <ion-navbar>
    <i class="fa fa-chevron-left goBack" (click)="close();"></i>
    <ion-title align="center">
      <img src="{{ dataHome?.logo }}" class="title-logo">
      <p class="title-header">{{ dataHome?.subject }} <br> {{ dataHome?.subjectEng }} </p>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="register-page">
    <form role="form" class="form-default" novalidate="true">
      <div class="container">
        <div class="header-group" align="center">
          <h2>แก้ไขข้อมูลส่วนตัว</h2>
          <span>Edit Profile</span>
        </div>
        <hr style="background-color: #d2b266; width: 30%; height: 2px; margin-bottom: 20px;">

        <div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group has-feedback">
                <label class="control-label">ชื่อหน่วยงาน / Institution <span class="red">*</span></label>
                <div class="block-control">
                  <input  type="text" [(ngModel)]="formeditProfile.inputOrganize" class="form-control" id="inputOrganize" name="inputOrganize" placeholder=""
                  required="">
                  <span class="form-control-feedback" aria-hidden="true"></span>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group has-feedback has-success">
                <label class="control-label">เพศ / Gender <span class="red">*</span></label>
                <select  class="form-control select2-hidden-accessible" [(ngModel)]="formeditProfile.inputGender" id="inputGender" name="inputGender" size="1" style="width: 100%;" tabindex="-1" aria-hidden="true">
                  <option value="" selected="">กรุณาเลือกเพศ</option>
                  <option value="1" >ชาย</option>
                  <option value="2" >หญิง</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group has-feedback">
                <label class="control-label">ชื่อ / Name <span class="red">*</span></label>
                <div class="block-control">
                  <input class="form-control" type="text" [(ngModel)]="formeditProfile.inputName" id="inputName" name="inputName" placeholder="" required="">
                  <span class="form-control-feedback" aria-hidden="true"></span>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group has-feedback">
                <div class="block-control">
                <label class="control-label">นามสกุล / Surname <span class="red">*</span></label>
                <input class="form-control" type="text" [(ngModel)]="formeditProfile.inputlname" id="inputlname" name="inputlname" placeholder="" required="">
                  <span class="form-control-feedback" aria-hidden="true"></span>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group has-feedback">
                <div class="select-box">
                  <div class="control-label">การศึกษา / Education <span class="red">*</span></div>
                  <select  class="form-control select2-hidden-accessible" [(ngModel)]="formeditProfile.inputEducation" id="inputEducation" name="inputEducation" size="1" style="width: 100%;" tabindex="-1" aria-hidden="true">
                    <option value="" selected="">กรุณาเลือกการศึกษา</option>
                    <option *ngFor="let listedu of loadEDU" value="{{ listedu.md_ban_id }}">{{ listedu.md_ban_subject }}</option>

                  </select>
                </div>
                <span class="form-control-feedback" aria-hidden="true"></span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group has-feedback">
                <div class="select-box">
                  <div class="control-label">อาชีพ / Career <span class="red">*</span></div>
                  <select  class="form-control select2-hidden-accessible" [(ngModel)]="formeditProfile.inputCareer" id="inputCareer" name="inputCareer" size="1" style="width: 100%;"  tabindex="-1" aria-hidden="true">
                    <option value="" selected="">กรุณาเลือกอาชีพ</option>
                    <option *ngFor="let listjob of loadJOB" value="{{ listjob.md_ban_id }}">{{ listjob.md_ban_subject }}</option>

                  </select>
                </div>
                <span class="form-control-feedback" aria-hidden="true"></span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group has-feedback has-error has-danger">
                <label class="control-label">ที่อยู่ / Address</label>
                <div class="block-control">
                  <textarea class="form-control" rows="2" [(ngModel)]="formeditProfile.inputAddress" id="inputAddress" name="inputAddress" placeholder=""></textarea>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group has-feedback">
                <label class="control-label">โทรศัพท์ / Telephone <span class="red">*</span></label>
                <div class="block-control">
                  <input class="form-control" type="text" [(ngModel)]="formeditProfile.inputTel" id="inputTel" name="inputTel" placeholder="" required="">
                  <span class="form-control-feedback" aria-hidden="true"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-box">
          <ion-grid>
            <ion-row>
              <ion-col>
                <button class="btn btn-primary" (click)="editProfile();">
                  ลงทะเบียน
                  <p>Sign Up</p>
                </button>
              </ion-col>
              <ion-col>
                <button class="btn btn-dark" (click)="close();">
                  ยกเลิก
                  <p>Cancel</p>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </form>

  </div>
</ion-content>
