page-contact {
  .wg-contact .desc-box .title {
    width: 90px;
}
//   .desc {
//   padding-left: 10px;
// }
  .text-secondary {
    color: #9d6d01;
}
  .text-primary {
    color: #64903a !important;
}
  .title-mr-bot{
    margin-bottom: 10px;
  }
  .text-ma-top{
    margin-top: 10px;
  }

}
