<ion-header>
  <ion-navbar>
    <i *ngIf="isFirst" class="fa fa-chevron-left goBack" (click)="close('true');"></i>
    <i *ngIf="!isFirst" class="fa fa-chevron-left goBack" (click)="close('false');"></i>
    
    <button ion-button menuToggle end class="iconRight"> 
      <ion-icon name="menu" style="color:white;"></ion-icon>
    </button>
    <ion-title align="center">
      <span class="title-header" style="font-size: 19px;">{{dataEbook?.md_cms_subject}}</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2 class="title">{{dataEbook?.md_cms_subject}}</h2>
  <p class="subtitle">
    <span *ngIf="dataEbook?.md_cms_othername != ''">{{dataEbook?.md_cms_othername}}<br></span>
    <span *ngIf="dataEbook?.md_cms_author != ''">{{dataEbook?.md_cms_author}}<br></span>
    <span *ngIf="dataEbook?.md_cms_engname != ''">{{dataEbook?.md_cms_engname}}<br></span>
    <span *ngIf="dataEbook?.md_cms_title != ''"><br><b>Synonyms </b>{{dataEbook?.md_cms_title}}</span>
    <span *ngIf="dataEbook?.md_cms_category != ''"><br><b>Category </b>{{dataEbook?.md_cms_category}}</span>
  </p>
  <div [innerHTML]="dataEbook?.html_content" class="ck-detail"></div>

  
</ion-content>
