<ion-header>
  <ion-navbar>
    <i *ngIf="active == 'subcategory'" class="fa fa-chevron-left goBack" (click)="loadCategory();"></i>
    <i *ngIf="active == 'listcontent'" class="fa fa-chevron-left goBack" (click)="loadSubCategory(data.cid,data.cname);"></i>
    <i *ngIf="active == 'listsearchcontent'" class="fa fa-chevron-left goBack" (click)="loadCategory();"></i>
    <i class="fa fa-search iconRight" aria-hidden="true" (click)="search();"></i>
    <ion-title align="center">
      <img src="{{ dataHome?.logo }}" class="title-logo">
      <span class="title-header">Thai Herbal</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-searchbar [(ngModel)]="form.search" (ionInput)="onInput($event)" placeholder="ค้นหาชื่อหน้าสือ"></ion-searchbar>


  <ion-item-group>
    <ion-item-divider color="light">
      <h3>{{ headContent }}</h3>
    </ion-item-divider>

    <div *ngIf="active == 'category'">
      <button ion-item *ngFor="let item of listContent" (click)="(item.count == null ? viewContent(item.md_dwg_id,'','',item.md_dwg_subject):loadSubCategory(item.md_dwg_id,item.md_dwg_subject))">
        {{item.md_dwg_subject}}
      </button>
    </div>

    <div *ngIf="active == 'subcategory'">
      <button ion-item *ngFor="let item of listContent" (click)="loadListContent(data.cid,item.md_dws_id,data.cname,item.md_dws_subject);">
        {{item.md_dws_subject}}
      </button>
    </div>

    <div *ngIf="active == 'listcontent'">
      <button ion-item *ngFor="let item of listContent" (click)="viewContent(data.cid,data.gid,item.md_cms_id,data.cname);">
        {{item.md_cms_subject}}
      </button>

      <ion-infinite-scroll (ionInfinite)="doInfiniteloadListContent($event,data)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

    <div *ngIf="active == 'listsearchcontent'">
      <button ion-item *ngFor="let item of listContent" (click)="viewContent(item.md_cms_cid,item.md_cms_gid,item.md_cms_id,'');">
        {{item.md_cms_subject}}
      </button>
    </div>


  </ion-item-group>
</ion-content>
